In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [20]:
mtcars=pd.read_csv('F:/Week 4/EDA_Bangalore/EDA_Chennai_/motor_cars.csv')
mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,NaN,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [21]:
mtcars['CubicCapacity']=round(mtcars['disp']*16.387)

In [22]:
mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,CubicCapacity
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2622.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2622.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1770.0
3,Hornet 4 Drive,NaN,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4228.0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,5899.0

In [23]:
mtcars.rename(columns={'Unnamed: 0':'Car_model'}, inplace=True)

In [24]:
mtcars['PowertoWeight']= round(mtcars['hp']/(mtcars['wt']*1000),3)

In [25]:
mtcars.head(10)

,Car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,CubicCapacity,PowertoWeight
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2622.0,0.042
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2622.0,0.038
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1770.0,0.040
3,Hornet 4 Drive,NaN,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4228.0,0.034
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,5899.0,0.051
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,3687.0,0.030
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,5899.0,0.069
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2404.0,0.019
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2307.0,0.030
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2746.0,0.036

In [15]:
#mtcars.rename(columns={'mpg':'Mileage'}, inplace=True)

In [18]:
mtcars['CubicCapacity']>2500

In [26]:
mtcars[mtcars['CubicCapacity']>2500]

,Car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,CubicCapacity,PowertoWeight
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2622.0,0.042
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2622.0,0.038
3,Hornet 4 Drive,NaN,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4228.0,0.034
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,5899.0,0.051
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,3687.0,0.030
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,5899.0,0.069
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2746.0,0.036
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2746.0,0.036
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,4520.0,0.044
12,Merc 450SL,NaN,8,275.8,180,3.07,3.730,17.60,0,0,3,3,4520.0,0.048
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,4520.0,0.048
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,7735.0,0.039
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,7538.0,0.040
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,7210.0,0.043
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,5211.0,0.043
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,4982.0,0.044
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,5735.0,0.064
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,6555.0,0.046
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,5752.0,0.083
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,4932.0,0.094